.content-accordion {
	margin-bottom: 20px;

	@include grid-media($medium-screen-grid) {
		margin-bottom: 100px;
	}

	.container {
		align-content: flex-start;
		display: flex;
		flex-flow: row wrap;
	}

	&__content {
		@include grid-column(4);
		margin-bottom: 20px;

		@include grid-media($medium-screen-grid) {
			@include grid-column(6);
		}
	}

	&__accordion {
		@include grid-column(4);
		margin-bottom: 20px;

		@include grid-media($medium-screen-grid) {
			@include grid-column(5);
			@include grid-shift(1);
			margin-top: 10px;
		}
	}

	&__trigger {
		appearance: none;
		background-color: transparent;
		border: 2px solid $color__white;
		border-radius: 10px;
		box-shadow: 0px 0px 30px 6px rgba(243, 246, 250, 1);
		cursor: pointer;
		font-family: $font__encode-sans;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.6;
		margin-bottom: 18px;
		padding: 13px 30px 13px 13px;
		position: relative;
		text-align: left;
		width: 100%;

		@include grid-media($medium-screen-grid) {
			font-size: 18px;
		}

		&::after {
			@include position(absolute, 0 16px 0 null);
			background-image: url(../../assets/img/arrow-disclosure-right.svg);
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			float: right;
			height: 10px;
			margin: auto 0;
			transform: rotate(90deg);
			transition: right 300ms ease;
			width: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&[aria-expanded=true] {
			border: 2px solid $color__atlantis;
		}
	}

	&__panel {
		padding: 0 15px 10px;
	}
}
