.btn,
a.btn,
.btn:visited,
a.btn:visited,
input[type=button],
.wp-block-button .wp-block-button__link {
	appearance: none;
	background-color: $color__atlantis;
	border: 2px solid $color__atlantis;
	border-radius: 30px;
	box-sizing: border-box;
	color: $color__black;
	display: inline-block;
	font-family: $font__encode-sans;
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 20px;
	margin-right: 40px;
	opacity: 1;
	padding: 11px 28px 9px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 300ms ease;

	&:hover {
		background-color: darken($color__atlantis, 10%);
		border-color: darken($color__atlantis, 10%);
	}

	&.hidden {
		opacity: 0;
	}

	a {
		font-weight: 500 !important;
	}

	@include grid-media($medium-screen-grid) {
		margin-bottom: 0;
	}
}

.btn--outline {
	@extend .btn;
	background-color: transparent;
}
