$font__open-sans: 'Open Sans', sans-serif;
$font__montserrat: 'Montserrat', sans-serif;
$font__encode-sans: 'Encode Sans', sans-serif;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $font__montserrat;
	font-weight: 700;
	line-height: 1.8;
	margin-bottom: 20px;
	margin-top: 10px;
}

h1,
.h1 {
	font-size: 52px;
    line-height: 56px;
}

h2,
.h2 {
	font-size: 32px;
    line-height: 38px;
}

h3,
.h3 {
	font-size: 20px;
    line-height: 38px;
}

h4,
.h4 {
	font-size: 20px;
    line-height: 38px;
}

h5,
.h5 {
	font-size: 18px;

	@include grid-media($medium-screen-grid) {
		font-size: 21px;
	}
}

h6,
.h6 {
	font-size: 16px;

	@include grid-media($medium-screen-grid) {
		font-size: 18px;
	}
}

p,
li {
	font-family: $font__open-sans;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 20px;
	margin-top: 10px;

	@include grid-media($medium-screen-grid) {
		font-size: 18px;
	}
}
