.content {
	overflow: hidden;

	&__single {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(8);
		}
	}

	&__aside {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(4);
		}
	}
}

.post {

	&__content {
		> *:first-child:not(.hero):not(.backpage-hero):not(.content-form) {
			margin-top: 40px;

			@include grid-media($medium-screen-grid) {
				margin-top: 100px;
			}
		}
	}
}
