.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	&__logo {

		@include grid-media($medium-screen-grid) {
			padding: 20px 30px;
		}
	}

	&__nav {

		@include grid-media($medium-screen-grid) {
			padding: 0 30px;
		}
	}
}
